<div class="row">
  <br><br>
  <div class="col-lg-3 col-xs-12 col-md-12"></div>
  <div class="col-lg-6 col-xs-12 col-md-12">
    <h2>Agregar Excursion</h2>
    <form action="" method="POST">
      <input type="hidden" class="form-control" id="idName">
      <div class="form-group">
        <label>Nombre:</label>
        <input class="form-control" placeholder="Escriba el nombre de la incursion" name="nombreexcursion">
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Examinar Archivo</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <button type="submit" class="btn btn-default">Iniciar Sesion</button>
    </form>
  </div>  
</div>