<div class="row">
  <div class="col-lg-4 col-xs-12 col-md-6">
    <a class="btn btn-success" href="/capitulo" role"button">
      <img class="img-thumbnail" src="images/excursiones.jpg">
      <p>Prueba Exccursion</p>
    </a>
  </div>
</div>