html
    head
        title="ChuChu TV Game"
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
        link(href='../public/css/chuchu.css', rel='stylesheet')
    body
        div(class="container-fluid headerimage",style="padding:0 !important")
            div(class="col-lg-12 col-md-12 col-xs-12",style="padding:0 !important")
                img(class="img-responsive", src="../public/images/pantallaPrincipal.png", alt="Imagen de fondo")
            div.container
                div.btn-wrapper
                    a(href="/listainfante", class="btn btn-warning")
                        H1="JUGAR"