<div class="container-fluid headerimage" style="padding:0 !important">
    <div class="col-md-12" style="padding:0 !important">
      <img src="../images/pantallaPrincipal.png" alt="placeholder 960" class="img-responsive" >
    </div>
    <div class="container">
      <div class="btn-wrapper">
        <a href="/menuprincipal" class="btn btn-warning"><h1>JUGAR</h1></a>
      </div>
    </div>
</div>

