html
    head
        title="ChuChu TV Game"
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
        link(href='../public/css/chuchu.css', rel='stylesheet')
    body
        div.container
        h1.h3m='Lista de Excursiones'
        div
            for excursion in excursionList
                div.gallery
                    form(action="/listacapituloporexcursion", method="get")
                        a(class="btn btn-success", role="button", href="/listacapituloporexcursion/"+excursion.id)
                            img(class="img-thumbnail", src="../public/"+excursion.urlimg, alt="", width="200px")
                            h4=excursion.nombre
                
                    