<div class="row">
  <div class="col-lg-4 col-xs-12 col-md-6">
    <a class="btn btn-success" href="/excursiones" role"button">
      <img class="img-thumbnail" src="images/avatar9.jpg">
      <p>Jenniffer</p>
    </a>
  </div>
</div>