html
    head
        title="ChuChu TV Game"
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    body
        div.container
        h1='Lista de Capitulo'
        div.row
            for capExc in capExcList
                div.col-lg-2.col-xs-12.col-md-6
                    form(action="/infocapituloporid", method="get")
                        a(class="btn btn-success", role="button", href="/infocapituloporid/"+capExc.id)
                            img(class="../public/"+"img-thumbnail", src="../public/"+capExc.imgcapitulo, alt="", width="200px")
                            h4=capExc.titulo