html
    head
        title="ChuChu TV Game"
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
        link(href='../public/css/chuchu.css', rel='stylesheet')
    body
        div.container
        h1.h3m='Lista de Capitulo'
        div
            for capExc in capExcList
                div.gallery
                    form(action="/infocapituloporid", method="get")
                        a(class="btn btn-success", role="button", href="/infocapituloporid/"+capExc.id)
                            img(class="img-thumbnail", src=capExc.imgcapitulo, alt="", width="200px")
                            h4=capExc.titulo