html
    head
        title="ChuChu TV Game"
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    body
        div.container
        h1='Lista de Capitulo'
        div.row
            for capExc in capExcList
                div.col-lg-2.col-xs-12.col-md-6
                    a(class="btn btn-success", href="", role="button", action="", method="")
                        img(class="../public/"+"img-thumbnail", src=capExc.imgcapitulo, alt="", width="200px")
                        h3=capExc.titulo