html
    head
        title="ChuChu TV Game"
        link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    body
        div.container
        h1='Elije tu personaje'
            div.row
                for infante in infanteList
                    div.col-lg-2.col-xs-12.col-md-6
                        form(action="/leerexcursionusuario", method="GET")
                            a(class="btn btn-success", role="button" ,href="/leerexcursionusuario/"+infante.id)
                                img(class="img-thumbnail", src="../public/"+infante.urlimagen, alt="")
                                h3=infante.nombre
            






        
        
        