html
    head
        title="Users List"
    body
        h1='Lista de Excursiones'
        table
            for excursion in excursionList
                tr
                    td=excursion.nombre
                    td=excursion.urlimg