
  <div class="row">
    <div class="col-lg-12 col-xs-12 col-md-12"><h1>Titulo del Capitulo</h1></div>
    <div class="col-lg-12 col-xs-12 col-md-12">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TCkA6F1nfck" allowfullscreen></iframe>
    </div>
    </div>
  </div>  
  

  <div class="row">
    <br>
  </div>
  
  <div class="row">
    <div class="col-lg-5 col-xs-4 col-md-5"></div>
    <div class="col-lg-2 col-xs-3 col-md-2">
      <a class="btn btn-warning" href="/actividad" role"button">
        <img class="img-thumbnail" src="images/excursiones.jpg">
      </a>
    </div>
    <div class="col-lg-5 col-xs-4 col-md-5"></div>
  </div>
  
  <div class="row">
    <br><br>
  </div>

  <div class="row">
    <div class="col-lg-6 col-xs-12 col-md-12">
        <h1>Descripcion</h1>
        <p>Aqui va la descripcion</p>
    </div>
    <div class="col-lg-6 col-xs-12 col-md-12">
        <h1>Creditos</h1>
        <p>Aqui va los creditos</p>
    </div>
  </div>
  
