<div class="row"><br><br><br></div>
<div class="row">
  <div class="col-lg-5 col-xs-12 col-md-5">
    <a class="btn btn-success" href="/listaexcursiones" role"button">
      <img class="img-thumbnail" src="images/excursiones.jpg">
      <p>Lista de Excursiones</p>
    </a>
  </div>
  <div class="col-lg-2 col-xs-12 col-md-2"><br><br></div>
  <div class="col-lg-5 col-xs-12 col-md-5">
    <a class="btn btn-success" href="/excursiones" role"button">
      <img class="img-thumbnail" src="images/excursiones.jpg">
      <p>Excursiones</p>
    </a>
  </div>
  
</div>
<div class="row"><br><br><br></div>